{{>partials/header}}

<h2> Qual ano voce nasceu?
<form method="GET">
    <input type="number" name="ano" placeholder="Digite o ano de Nascimento"/><br/>
    <input type="submit" value="Enviar" />
</form>

    {{#mostrarIdade}}
Opa, {{name}} {{lastName}}, tudo bem ?
Você tem {{idade}} anos?
    {{/mostrarIdade}}

{{>partials/footer}}